@model IEnumerable<ExamApp.Models.user>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <p>
        <a class="btn btn-primary" href="/Home/Create">Add Record</a>
    </p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                 <th>
                    @Html.DisplayNameFor(model => model.id)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)               
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.role)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.id })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

